*{
    font-family: Montserrat, sans-serif;
    line-height: 1.8rem;
}
h1{
    font-family: Poppins, sans-serif;
    font-size: 3em !important;
    animation: background 20s linear infinite;
    background: linear-gradient(90deg, rgba(109, 237, 137, 1) 0%,rgb(0, 0, 0) 10%,rgba(109, 237, 137, 1) 20%,rgba(74,165,168,1) 30%,rgba(89,90,165,1) 40%,rgb(31, 31, 31) 50%,rgba(28,58,63,1) 60%,rgba(82,175,183,1) 70%,rgba(109, 237, 137, 1) 80%,rgba(30,30,30,1) 90%,rgb(255, 255, 255) 100%);
    background-size: 1000% 100%;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}

@keyframes background {
    0%{background-position:0% 50%}
    100%{background-position:100% 50%}
  }

a{
    text-decoration: none;
    color: white;
}

.a:hover{
    color: white;

}



@media (max-width: 400px){
    h1{
        font-size: 2.2rem;
    }
}


ul{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.h1-detail{
    color: #6DED89;
}

.my-icon{
    list-style: none;
    display: inline;  
}



.my-container{
    height: 90vh;
}

.border-bottom{
   border-color:  #6DED89 !important;

}

.text-dark{
    text-decoration: none !important;
}

/* .my-link{
    position: relative;
}
.my-link:{
position: absolute;
content: '';
width: calc(100% - 1em);
height: 2px;
background-color: green;
display: block;
bottom: -13px;
} */

.my-link:hover{
    color: #6DED89;
    transition: all .5s ease-in-out;
}

.portfolio-link{
    letter-spacing: 0.2em;

}

.portfolio-btn{
    -webkit-box-shadow: 5px 12px 20px 3px rgba(109,237,137,0.3); 
    box-shadow: 5px 12px 20px 3px rgba(109,237,137,0.3);
}

.portfolio-btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .portfolio-btn span {
    position: relative; 
    z-index: 1;
  }
  
  .portfolio-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #6DED89;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .portfolio-btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
    
  }

  .portfolio-btn:hover{
    transform: scale(1.1);
  }

  .link-success{
      color: #6DED89 !important;
  }

  .link-success:hover{
      color: black !important;
    transition: all .5s ease-in-out;

  }
