*{
    font-family: Montserrat, sans-serif;
    line-height: 1.8rem;
}
h1{
    font-family: Poppins, sans-serif;
}

ul{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.my-icon{
    list-style: none;
    display: inline;  
}



.my-container{
    height: 90vh;
}

.border-bottom{
   border-color:  #6DED89 !important;

}

.text-dark{
    text-decoration: none !important;
}

/* .my-link{
    position: relative;
}
.my-link:{
position: absolute;
content: '';
width: calc(100% - 1em);
height: 2px;
background-color: green;
display: block;
bottom: -13px;
} */

.my-link:hover{
    color: #6DED89;
  
}