@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500&family=Nunito:ital,wght@0,200;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    transition: 0.3s;
    margin: 0;
    padding: 0;
    background-color: rgb(236, 232, 232);
    font-family: 'Poppins', sans-serif;
    color: rgb(57, 57, 57);
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}

h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 10px 0;
}

p{
    margin: 0px;
    font-size: 20px;
}

a{
    color: coral;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
}

.dark a{
    color: rgb(255, 180, 153);
} 


header{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color:rgb(38, 38, 39);
    position: relative;
}

.flicker {
     width: 30px;
     height: 30px;
     border-radius: 15px;
     background-color: rgb(255, 255, 255);
     position: absolute;
     top: 5px;
     left: 5px;
     transition: 0.3s;
     box-shadow: 
      inset 4px 4px 4px rgb(255, 255, 255),
      inset -4px -4px 4px rgb(193 195 198 / 90%);

}


.dark{
    background-color: rgb(57, 57, 57);
    transition: 0.3s;
}

.moon{
   width: 22px;
   height: 22px;
   border-radius: 10px;
   box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
   position: absolute;   
   top: 5px;
   left: 45px;
}

.dark .flicker{
    transform: translateX(40px);

}

.dark > * {
   color: rgb(255, 255, 255);
}

.main{
    display: flex;
    height: 80vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.main-text{
    padding: 30px;
}

.square{
    width: 98%;
    height: 350px;
    text-align: center;
    margin: 1%;
    background-color: rgb(255, 255, 255);
}

.dark .square{
    background-color: rgb(71, 71, 71);
}

.sub-section{
    display: flex;
    flex-wrap: wrap;
}

#projct1{
    background-image: url('images/img1.jpg');
    background-size: cover;
}
#projct2{
    background-image: url('images/img2.jpg');
    background-size: cover;
}#projct3{
    background-image: url('images/img3.jpg');
    background-size: cover;
}#projct4{
    background-image: url('images/img4.jpg');
    background-size: cover;
}

.hero-image{
    position: relative;
    width: 50%;
    height: 350px;
    display: block;
}

.cube{
    position: absolute;
    width: 80px;
    height: 80px;
    
    transform: rotate(-25deg) skew(25deg);
}

.cube::before{
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;
    
    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#html{
    left: 100px;
    bottom: 80px;
    background-image: url("images/html5.png");
    background-size: cover;
    background-color: teal;
    box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#html::before{
    background-color: rgb(26, 224, 224);
}

#html::after{
    background-color: rgb(143, 255, 255);
}

#html{
    left: 100px;
    bottom: 80px;
    background-image: url("images/html5.png");
    background-size: cover;
    background-color: teal;
    box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#css::before{
    background-color: rgb(26, 224, 224);
}

#css::after{
    background-color: rgb(143, 255, 255);
}

#css{
    left: 250px;
    bottom: 240px;
    background-image: url("images/css3.png");
    background-size: cover;
    background-color: teal;
    box-shadow: -100px 100px 20px rgb(50 50 50 / 15%);
}

#javascript::before{
    background-color: rgb(224, 26, 118);
}
#javascript::after{
    background-color: rgb(219, 145, 173);
}
#javascript{
    left: 450px;
    bottom: 200px;
    background-image: url("images/js.png");
    background-size: cover;
    background-color: rgb(243, 106, 236);
    box-shadow: -40px 40px 20px rgb(50 50 50 / 15%);
}

#laravel::before{
    background-color: rgb(255, 98, 125);
}

#laravel::after{
    background-color: rgb(255, 173, 173);
}

#laravel{
    left: 350px;
    bottom: 40px;
    background-image: url("images/laravel.png");
    background-size: cover;
    background-color: rgb(243, 106, 106);
    box-shadow: -80px 80px 20px rgb(50 50 50 / 15%);
}

footer{
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color: rgb(170, 170, 170);
}

.dark footer{
    background-color: rgb(39, 39, 39);
}

@media only screen and (min-width: 970px){

    .main-text{
        width: 50%;
    }

    .square{
        width: 48%;
        margin: 1%;
    }
}
    
@media only screen and (max-width: 1300px){
   .hero-image{
       display: none;
   }
}